* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background:radial-gradient(#555,#000);
    overflow: hidden;
}

.stars {
    width: 100vw;
    height: 100vh;
    background-image:url("stars.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: star-fading 3s linear infinite alternate;
    animation: star-moving 3s linear infinite alternate;
}
@keyframes star-fading{
    from{
        opacity: 1;
    }
    to{
        opacity: .3;
    }
}
@keyframes star-moving{
   
    to{
     transform:rotate(1deg) ;
    }
}
.Sun {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 50px yellow;
    position: absolute;
    animation: sun-glowing 4s linear infinite alternate;
}
@keyframes sun-glowing{
    to{
        box-shadow: 0px 0px 200px yellow;
    }
}
.Earth{
    width: 50px;
    height: 50px;
     background: url(earth.png); 
    background-size: cover;
    position:absolute;
    left: 200px;
    animation: rotate 5s linear infinite ;
   
}
.Moon{
    width: 15px;
    height: 15px;
    background-color: #7d7db6;
    box-shadow: 2px 1px 5px #a5a5c9 inset;
    border-radius: 50%;
    position: absolute;
    left: 80px;
}
 .round{
    /* background: url(earth.png);
    background-size: cover;
    width: 50px;
    z-index: 1;
    height: 50px; */
    animation: rotate 7s linear infinite;
} 

@keyframes rotate {
   
   100%{
        transform:rotate(360deg);
    }
}